/**
 * 通用css样式布局处理
 * Copyright (c) 2019 app
 */

/** 基础通用 **/
.pt5 {
	padding-top: 5px;
}
.pr5 {
	padding-right: 5px;
}
.pb5 {
	padding-bottom: 5px;
}
.mt5 {
	margin-top: 5px;
}
.mr5 {
	margin-right: 5px;
}
.mb5 {
	margin-bottom: 5px;
}
.ml5 {
	margin-left: 5px;
}
.mt10 {
	margin-top: 10px;
}
.mr10 {
	margin-right: 10px;
}
.mb10 {
	margin-bottom: 10px;
}
.ml0 {
	margin-left: 10px;
}
.mt20 {
	margin-top: 20px;
}
.mr20 {
	margin-right: 20px;
}
.mb20 {
	margin-bottom: 20px;
}
.ml20 {
	margin-left: 20px;
}
.section-content {
	min-height: 250px;
	margin-right: auto;
	margin-left: auto;
	padding: 5px 5px 5px 5px;
	width: 100%;
	height: 100%;
	position: absolute;
}

.ibox {
	margin-bottom: 25px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	height: 100%;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.list-group-striped > .list-group-item {
	border-left: 0;
	border-right: 0;
	border-radius: 0;
	padding-left: 0;
	padding-right: 0
}

.ibox-title-gray {
	height: 41px;
	background-color: #f0f3f4;
	color: #333;
	font-weight: 700;
	border-radius: 2px 2px 0 0;
	padding: 13px !important;
	border-bottom: 1px solid #eee;
	display: block;
	clear: both;
}

.dashboard-header h5 {
	padding: 8px 0 0 0;
	display: inline-block;
	font-size: 14px;
	text-overflow: ellipsis;
	float: left;
	font-weight: 400;
}

.ibox-title-gray h5 {
	display: inline-block;
	font-size: 14px;
	margin: 0 0 7px;
	padding: 0;
	text-overflow: ellipsis;
	float: left;
}

.ibox-content .nav-tabs-custom {
	margin-bottom: 20px;
	background: #fff;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	border-radius: 3px
}

.ibox-content .nav-tabs-custom>.nav-tabs {
	margin: 0;
	border-bottom-color: #f4f4f4;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px
}

.ibox-content .nav-tabs-custom>.nav-tabs>li {
	border-top: 3px solid transparent;
	margin-bottom: -2px;
	margin-right: 5px
}

.ibox-content .nav-tabs-custom>.nav-tabs>li.disabled>a {
	color: #777
}

.ibox-content .nav-tabs-custom>.nav-tabs>li>a {
	color: #444;
	font-weight: normal;
	border-radius: 0
}

.ibox-content .nav-tabs-custom>.nav-tabs>li>a,.ibox-content .nav-tabs-custom>.nav-tabs>li>a:hover {
	background: transparent;
	margin: 0
}

.ibox-content .nav-tabs-custom>.nav-tabs>li>a:hover {
	color: #999
}

.ibox-content .nav-tabs-custom>.nav-tabs>li:not(.active)>a:hover,.ibox-content .nav-tabs-custom>.nav-tabs>li:not(.active)>a:focus,.ibox-content .nav-tabs-custom>.nav-tabs>li:not(.active)>a:active {
	border-color: transparent
}

.ibox-content .nav-tabs-custom>.nav-tabs>li.active {
	border-top-color: #1890ff
}

.ibox-content .nav-tabs-custom>.nav-tabs>li.active>a,.ibox-content .nav-tabs-custom>.nav-tabs>li.active:hover>a {
	background-color: #fff;
	color: #444
}

.ibox-content .nav-tabs-custom>.nav-tabs>li.active>a {
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-left-color: #f4f4f4;
	border-right-color: #f4f4f4
}

.ibox-content .nav-tabs-custom>.tab-content {
	background: #fff;
	padding: 10px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px
}
/** 弹层组件 禁用样式 **/
.layer-disabled {
	border: 1px #dedede solid !important;
	background-color: #f1f1f1 !important;
	color: #333 !important;
	pointer-events: none;
}

/** 用户管理 样式布局 **/
.box {
	position: relative;
	border-radius: 3px;
	background: #ffffff;
	border-top: 3px solid #d2d6de;
	margin-bottom: 20px;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1)
}

.box-header:before,.box-body:before,.box-footer:before,.box-header:after,.box-body:after,.box-footer:after {
	content: " ";
	display: table
}

.box-header:after,.box-body:after,.box-footer:after {
	clear: both
}

.btn-box-tool {
	padding: 5px;
	font-size: 12px;
	background: transparent;
	color: #97a0b3;
}

.open .btn-box-tool,
.btn-box-tool:hover {
	color: #606c84;
}

.box-main {
	margin: 0;
	border: 0;
	padding-top: 2px;
	border-radius: 0;
	box-shadow: none
}

.box-main>.box-header {
	border-bottom: 1px solid #eee;
	padding: 12px 10px 2px 15px
}

.box-header .box-title {
	display: inline-block;
	font-size: 18px;
	margin: 0;
	line-height: 1;
}

.box-main>.box-header .box-title {
	font-size: 16px;
	margin-bottom: 13px;
	float: left
}

.box-main>.box-header .box-title .fa {
	font-size: 14px;
	padding-right: 3px;
	margin-top: -2px
}

.box-main>.box-header .box-tools {
	position: relative;
	top: -5px;
	right: 0
}

.box-main>.box-header .box-tools .btn {
	padding: 3px 10px 5px 10px;
	font-size: 14px;
	margin-bottom: 2px
}

.box-main>.box-header .box-tools .btn-box-tool {
	padding: 4px 2px
}

.box-main form>.box-footer,.nav-main form>.box-footer {
	background: #fafafa
}

.box-main form>.box-footer .row,.nav-main form>.box-footer .row {
	margin: 5px 0 5px -25px
}

/** select2 样式修改 **/
.select2-container--default .select2-selection--multiple .select2-selection__choice {
	background-color: #1AB394;
	border-color: #1AB394;
	padding: 1px 10px;
	color: #fff
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	margin-right: 5px;
	color: rgba(255,255,255,0.7)
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
	color: #fff
}

.select2-container .select2-selection--single .select2-selection__rendered {
	padding-right: 10px
}

/** 表单验证 样式布局 **/
label.error {
	position: absolute;
	right: 18px;
	top: 7px;
	color: #ef392b;
	font-size: 12px
}

.Validform_error,input.error,select.error {
	background-color: #fbe2e2;
	border-color: #c66161;
	color: #c00
}

.Validform_wrong,.Validform_right,.Validform_warning {
	display: inline-block;
	height: 20px;
	font-size: 12px;
	vertical-align: middle;
	padding-left: 25px
}

.i-checks label.error, .check-box label.error, .radio-box label.error {
	right: auto;
	width: 150px;
	left: 210px;
	top: 1px;
	max-width: none;
}

/** 复选框&单选框  **/
.check-box,.radio-box {
	display: inline-block;
	box-sizing: border-box;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	padding-right: 15px;
	padding-top: 8px;
}

.icheckbox, .icheckbox-blue, .iradio, .iradio-blue, .iradio-purple {
	position: absolute;
	top: 8px;
	left: 0
}

/** iCheck **/
.icheckbox-blue,.iradio-blue {
	display: block;
	margin: 0;
	padding: 0;
	width: 18px;
	height: 18px;
	background: url(../../img/blue.png) no-repeat;
	border: none;
	cursor: pointer
}

.icheckbox-blue,.icheckbox-blue.static:hover {
	background-position: 0 0
}

.icheckbox-blue.hover,.icheckbox-blue:hover {
	background-position: -20px 0
}

.icheckbox-blue.checked {
	background-position: -40px 0
}

.icheckbox-blue.disabled {
	background-position: -60px 0;
	cursor: default
}

.icheckbox-blue.checked.disabled {
	background-position: -80px 0
}

.iradio-blue,.iradio-blue.static:hover {
	background-position: -100px 0
}

.iradio-blue.hover,.iradio-blue:hover {
	background-position: -120px 0
}

.iradio-blue.checked {
	background-position: -140px 0
}

.iradio-blue.disabled {
	background-position: -160px 0;
	cursor: default
}

.iradio-blue.checked.disabled {
	background-position: -180px 0
}

/** 遮罩层 **/
.loaderbox {
	display: inline-block;
	min-width: 125px;
	padding: 10px;
	margin: 0 auto;
	color: #000 !important;
	font-size: 13px;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #ddd;
	background-color: #eee;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}

.loaderbox .loading-activity {
	float: left;
	width: 18px;
	height: 18px;
	border: solid 2px transparent;
	border-top-color: #000;
	border-left-color: #000;
	border-radius: 10px;
	-webkit-animation: pace-spinner 400ms linear infinite;
	-moz-animation: pace-spinner 400ms linear infinite;
	-ms-animation: pace-spinner 400ms linear infinite;
	-o-animation: pace-spinner 400ms linear infinite;
	animation: pace-spinner 400ms linear infinite;
}

@media (max-width: 767px) {
	.loading-activity {
		width: 18px;
		height: 18px;
	}
}

@-ms-keyframes pace-spinner {
	0% {
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes pace-spinner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/** 表单查询条件 **/
ul {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

li {
	list-style: none;
}

.time-input {
	display: block;
	width: 100%;
	padding-left: 10px;
}

label {
	font-weight: normal;
}

.container-div {
	padding: 10px 35px;
	height: 100%;
}

.container-div .row {
	height: 100%;
}

.search-collapse,.select-table {
	width: 100%;
	background: #fff;
	border-radius: 6px;
	margin-top: 10px;
	padding-top: 5px;
	padding-bottom: 13px;
	box-shadow: 1px 1px 3px rgba(0,0,0,.2);
}

.search-collapse {
	position: relative;
}

.search-collapse .col-sm-6 .control-label {
	color: #333;
}

@media ( max-width : 768px) {
	.search-collapse {
		display: none;
	}
}

@media ( min-width : 768px) {
	.select-list li {
		float: left;
	}
}

.select-list li {
	color: #333;
	margin: 5px 15px 5px 0px;
}

.select-list li input {
	border: 1px solid #ddd;
	border-radius: 4px;
	background: transparent;
	outline: none;
	height: 30px;
	width: 200px;
	padding-left: 5px;
}

.select-list li .submit-btn {
	border: 0px;
	border-radius: 4px;
	background: transparent;
	outline: none;
	width: 40px;
	height: 23px;
}

.select-list li select {
	border: 1px solid #ddd;
	border-radius: 4px;
	background: transparent;
	outline: none;
	height: 30px;
	width: 200px;
}

.select-list .select-time input {
	width: 133px;
}

.select-time label,.select-time span,.select-time input {
	float: left;
}

.select-time label {
	margin-top: 5px;
}

.select-time span {
	display: block;
	margin: 5px 5px;
}

.search-btn {
	background-color: #1ab394;
	border-color: #1ab394;
	color: #FFF;
	margin-bottom: 5px;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	border-radius: 3px;
	vertical-align: middle;
	cursor: pointer;
}

/** 表格查询数据 **/
.table-striped {
	min-height: 75%;
}

.table-striped .bootstrap-table {
	border: 0px!important;
}

.table-striped .table, .fixed-table-container, table, .table-striped .table, .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	border-bottom: 1px solid #e7eaec!important;
	background-color: transparent!important;
	border: 0px;
}

.table-striped .table>thead>tr>th, .table-striped .table>tbody>tr>th {
	border-bottom: 1px solid #ccc!important;
	border-top: 0px!important;
}

.table-striped .table>thead:first-child>tr:first-child>th {
	color: #333;
}

.table-bordered td,.table-bordered th {
	border: 1px solid #ddd!important
}

/** 首页样式 **/
.ax_close_max {
	position: fixed;
	top: 5px;
	left: 5px;
	z-index: 9999;
	display: none;
	color: #ccc;
}
.navbar-right > .user-menu > .dropdown-menu {
	border-top-right-radius:0;
	border-top-left-radius:0;
	padding:1px 0 0 0;
	border-top-width:0;
	width:138px;
}
.navbar-right > .user-menu .user-image {
	float:left;
	width:27px;
	height:27px;
	border-radius:50%;
	margin-right:8px;
	margin-top:-3px;
}
@media (max-width:767px) {
	.navbar-right > .user-menu .user-image {
		float:none;
		margin-right:0;
		margin-top:-8px;
		line-height:10px;
	}
}.dropdown-menu > li > a > .glyphicon,.dropdown-menu > li > a > .fa,.dropdown-menu > li > a > .ion {
	 margin-right:10px;
 }
.dropdown-menu > li > a:hover {
	background-color:#e1e3e9;
	color:#333;
}
.dropdown-menu > .divider {
	background-color:#eee;
}


/*菜单皮肤*/

/*通用*/
.sidebar-collapse>.nav>li> a {
	position: relative;
	padding-left: 54px;
}

.sidebar-collapse .nav {
	font-size: 14px;
}
.mini-navbar .navbar-static-side .sidebar-collapse>.nav>li> a{
	position: static;
	padding-left: 19px;
}
.mini-navbar .navbar-static-side .sidebar-collapse>.nav>li> a>i {
	position: static;
	left: 0;
	line-height: 1em;
	font-size: 16px;
}
.nav>li>a .nav-label {
	padding-left: 0;
}
.nav-second-level > li > a {
	padding-left: 60px;
}
.fixed-sidebar.mini-navbar .nav-second-level > li > a {
	padding-left: 0;
}
.nav-second-level > li > a:before, .nav-third-level > li > a:before{
	content: "";
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 100%;
	margin-right: 7px;
	vertical-align: middle;
	background-color: transparent;
}
.nav>li.active {
	border-left: none;
}

/*暗色*/
.dark-sidebar {
	background-color: #344660;
}
.dark-sidebar .nav {
	font-size: 14px;
}
.dark-sidebar .nav .logo {
	height: 165px;
	border-bottom: 1px solid #435267;
	margin-bottom: 16px;
}

.dark-sidebar .nav .logo .logo-lg {
	padding-top: 113px;
	background: url("../../img/logo_dark.png") no-repeat center 35px;
	background-size: 60px 60px;
	font-size: 20px;
	line-height: 1em;
}
.dark-sidebar .nav>li>a {
	color: #fff;
}

.dark-sidebar .sidebar-collapse>.nav>li.active > a,.dark-sidebar .sidebar-collapse>.nav>li:hover > a,.dark-sidebar .sidebar-collapse>.nav>li > a:focus {
	border-color: #379ad7;
	background-color: #25334e;
}

.dark-sidebar .sidebar-collapse>.nav>li > a {
	border-left: 6px solid transparent;
}
.dark-sidebar .sidebar-collapse>.nav>li > a > i {
	color: #379ad7;
	position: absolute;
	left: 34px;
	line-height: 20px;
	font-size: 13px;
}
.mini-navbar .dark-sidebar .sidebar-collapse>.nav>li > a > i {
	color: #fff;
}
.dark-sidebar .sidebar-collapse>.nav>li.active {
	background-color: #344660;
}
.dark-sidebar .nav-second-level li.active a:before {
	background-color: #fff;
}
.dark-sidebar .sidebar-collapse>.nav .nav>li.active {
	background-color: #344660;
}
.dark-sidebar .sidebar-collapse>.nav .nav>li>a:hover,
.dark-sidebar .sidebar-collapse>.nav .nav>li>a:focus {
	background-color: transparent;

}

.dark-sidebar .sidebar-collapse>.nav .nav>li>a:hover:before,
.dark-sidebar .sidebar-collapse>.nav .nav>li>a:focus:before {
	background-color: #fff;

}
.fixed-sidebar.mini-navbar .dark-sidebar .nav li:hover>a> span.nav-label {
	background-color: #344660;
	color: #fff;
	border-color: #344660;
}

.fixed-sidebar.mini-navbar .dark-sidebar .nav li:hover>.nav-second-level {
	font-size: 12px;
	background-color: #344660;
	border-color: #344660;
}
/*亮色*/
.light-sidebar {
	background-color: #f0f2f3;
}

.light-sidebar .sidebar-collapse > .nav {
	padding: 0 10px;
}

.light-sidebar .nav .logo {
	height: 83px;
	border-bottom: 1px solid #dae4ec;
	margin-bottom: 10px;
	padding: 0;
	width: auto;
}

.light-sidebar .nav .logo .logo-lg {
	padding-left: 70px;
	background: url("../../img/logo_light.png") no-repeat left center;
	background-size: 60px 60px;
	font-size: 20px;
	color: #4a5a7f;
	line-height: 83px;
	display: inline-block;
}
.light-sidebar .nav>li {
	padding-top: 10px;

}
.light-sidebar .nav>li>a {
	padding: 12px 0 14px 50px;
	line-height: 14px;
	color: #4a5a7f;
}

.light-sidebar .sidebar-collapse>.nav>li.active > a,.light-sidebar .sidebar-collapse>.nav>li:hover > a,.light-sidebar .sidebar-collapse>.nav>li > a:hover,.light-sidebar .sidebar-collapse>.nav>li > a:focus {
	background-image: linear-gradient(90deg,
	#397dff 0%,
	#428dff 100%),
	linear-gradient(
			#1b67db,
			#1b67db);
	background-blend-mode: normal,
	normal;
	box-shadow: 0px 5px 30px 0px
	rgba(22, 115, 255, 0.4);
	border-radius: 6px;
	color: #fff;
}
.light-sidebar .sidebar-collapse>.nav>li > a > i {
	color: #5d77ad;
	position: absolute;
	left: 30px;
	line-height: 14px;
	font-size: 13px;
}
.light-sidebar .sidebar-collapse>.nav>li.active > a > i,.light-sidebar .sidebar-collapse>.nav>li > a:hover > i,.light-sidebar .sidebar-collapse>.nav>li > a:focus > i {
	color: #fff;
}

.mini-navbar .light-sidebar .sidebar-collapse>.nav>li > a > i {
	color: #4a5a7f;
}
.light-sidebar .sidebar-collapse>.nav>li.active {
	background-color: #f0f2f3;
}
.light-sidebar .nav-second-level > li.active > a, .light-sidebar .nav-third-level > li.active > a {
	color: #488af0;
}
.light-sidebar .nav-second-level > li.active > a:before, .light-sidebar .nav-third-level > li.active > a:before {
	background-color: #488af0;
}
.light-sidebar .sidebar-collapse>.nav .nav>li.active {
	background-color: #f0f2f3;
	color: #4a5a7f;
}
.light-sidebar .sidebar-collapse>.nav .nav>li>a:hover,
.light-sidebar .sidebar-collapse>.nav .nav>li>a:focus {
	background-color: transparent;
	color: #488af0;

}

.light-sidebar .sidebar-collapse>.nav .nav>li>a:hover:before,
.light-sidebar .sidebar-collapse>.nav .nav>li>a:focus:before {
	background-color: #488af0;

}
.light-sidebar .nav-third-level > li > a {
	padding-top: 0;
	padding-left: 70px;
}
.fixed-sidebar.mini-navbar .light-sidebar .nav li:hover>a> span.nav-label {
	background-color: #f0f2f3;
	color: #4a5a7f;
	border-color: #f0f2f3;
	line-height: 30px;
}

.fixed-sidebar.mini-navbar .light-sidebar .nav li:hover>.nav-second-level {
	font-size: 12px;
	background-color: #f0f2f3;
	border-color: #f0f2f3;
}
.mini-navbar .light-sidebar .sidebar-collapse > .nav {
	padding: 0;
}
.mini-navbar .light-sidebar .nav>li {
	padding: 10px 10px 0;

}
.mini-navbar .light-sidebar .sidebar-collapse>.nav>li:hover > a > i,.mini-navbar .light-sidebar .sidebar-collapse>.nav>li:focus > a > i,.mini-navbar .light-sidebar .sidebar-collapse>.nav>li.active > a > i {
	color: #fff;
}

/*标签卡标题*/
.card-title {
	font-size: 18px;
	padding-left: 20px;
	line-height: 40px;
	border-bottom: 1px solid #e5e5e5;
	margin: 0 -15px 20px;
}
/*表单页底部按钮*/
.form-horizontal .btn-bar {
	background-color: #fff;
	position: absolute;
	width: 100%;
	padding: 10px 35px;
	bottom: 0;
	left: 0;
	text-align: right;
	border-top: 1px solid #e7eaec;
}

.form-horizontal.scroll {
	overflow-y: auto;
	height: calc(100% - 54px);
}

.form-horizontal .container-div {
	height: auto;
}

.label-cont {
	border:1px solid #e5e6e7;
	min-height: 34px;
	height: auto;
	overflow: hidden;
	padding: 5px 10px 10px;
}

.label-cont .label-piece {
	border-radius: 4px;
	cursor: default;
	float: left;
	margin-right: 5px;
	margin-top: 5px;
	background-color: #488af0;
	border-color: #488af0;
	padding: 1px 10px;
	color: #fff;
}
.label-cont .label-piece .label-close {
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	margin-right: 5px;
	color: rgba(255,255,255,0.7);
}

