<head th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon.ico">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <!-- bootstrap-table 表格插件样式 -->
    <link th:href="@{/ajax/libs/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet"/>
    <link th:href="@{/ajax/libs/bootstrap-treetable/bootstrap-treetable.css}" rel="stylesheet"/>
    <link th:href="@{/css/animate.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/app/css/app.css}" rel="stylesheet"/>
</head>
<div th:fragment="footer">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <!-- bootstrap-table 表格插件 -->
    <script th:src="@{/ajax/libs/bootstrap-table/bootstrap-table.min.js}"></script>
    <script th:src="@{/ajax/libs/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
    <script th:src="@{/ajax/libs/bootstrap-table/extensions/mobile/bootstrap-table-mobile.js}"></script>
    <script th:src="@{/ajax/libs/bootstrap-table/extensions/toolbar/bootstrap-table-toolbar.min.js}"></script>
    <!-- jquery-validate 表单验证插件 -->
    <script th:src="@{/ajax/libs/validate/jquery.validate.min.js}"></script>
    <script th:src="@{/ajax/libs/validate/messages_zh.min.js}"></script>
    <script th:src="@{/ajax/libs/validate/jquery.validate.extend.js}"></script>
    <!-- jquery-validate 表单树插件 -->
    <script th:src="@{/ajax/libs/bootstrap-treetable/bootstrap-treetable.js}"></script>
    <!-- jquery-export 表格导出插件 -->
    <script th:src="@{/ajax/libs/bootstrap-table/extensions/export/bootstrap-table-export.js}"></script>
    <script th:src="@{/ajax/libs/bootstrap-table/extensions/export/tableExport.js}"></script>
    <!-- 遮罩层 -->
    <script th:src="@{/ajax/libs/blockUI/jquery.blockUI.js}"></script>
    <script th:src="@{/ajax/libs/iCheck/icheck.min.js}"></script>
    <script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
    <script th:src="@{/ajax/libs/layui/layui.js}"></script>
    <script th:src="@{/app/js/common.js?v=4.1.0}"></script>
    <script th:src="@{/app/js/app.js?v=4.1.0}"></script>
    <script th:inline="javascript"> var ctx = [[@{
        /}]]; </script>
    <!--模板引擎-->
    <script th:src="@{/js/template.js?v=3.2.1}"></script>

</div>

<!-- ztree树插件 -->
<div th:fragment="ztree-css">
    <link th:href="@{/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css}" rel="stylesheet"/>
</div>
<div th:fragment="ztree-js">
    <script th:src="@{/ajax/libs/jquery-ztree/3.5/js/jquery.ztree.all-3.5.js}"></script>
</div>

<!-- select2下拉框插件 -->
<div th:fragment="select2-css">
    <link th:href="@{/ajax/libs/select2/select2.min.css}" rel="stylesheet"/>
    <link th:href="@{/ajax/libs/select2/select2-bootstrap.css}" rel="stylesheet"/>
</div>
<div th:fragment="select2-js">
    <script th:src="@{/ajax/libs/select2/select2.min.js}"></script>
</div>

<!-- 表格拖拽插件 -->
<div th:fragment="bootstrap-table-reorder-js">
    <script th:src="@{/ajax/libs/bootstrap-table/extensions/reorder/bootstrap-table-reorder.js}"></script>
    <script th:src="@{/ajax/libs/bootstrap-table/extensions/reorder/jquery.tablednd.js}"></script>
</div>


<!-- bootstrap-select下拉框插件 -->
<div th:fragment="bootstrap-select-css">
    <link th:href="@{/ajax/libs/bootstrap-select/bootstrap-select.css}" rel="stylesheet"/>
</div>
<div th:fragment="bootstrap-select-js">
    <script th:src="@{/ajax/libs/bootstrap-select/bootstrap-select.js}"></script>
</div>

<!-- datetimepicker日期和时间插件 -->
<div th:fragment="datetimepicker-css">
    <link th:href="@{/ajax/libs/datapicker/bootstrap-datetimepicker.min.css}" rel="stylesheet"/>
</div>
<div th:fragment="datetimepicker-js">
    <script th:src="@{/ajax/libs//datapicker/bootstrap-datetimepicker.min.js}"></script>
</div>


<!-- ui布局插件 -->
<div th:fragment="layout-latest-css">
    <link th:href="@{/ajax/libs/jquery-layout/jquery.layout-latest.css}" rel="stylesheet"/>
</div>
<div th:fragment="layout-latest-js">
    <script th:src="@{/ajax/libs/jquery-layout/jquery.layout-latest.js}"></script>
</div>

<!-- summernote富文本编辑器插件 -->
<div th:fragment="summernote-css">
    <link th:href="@{/ajax/libs/summernote/summernote.css}" rel="stylesheet"/>
    <link th:href="@{/ajax/libs/summernote/summernote-bs3.css}" rel="stylesheet"/>
</div>
<div th:fragment="summernote-js">
    <script th:src="@{/ajax/libs/summernote/summernote.min.js}"></script>
    <script th:src="@{/ajax/libs/summernote/summernote-zh-CN.js}"></script>
</div>

<!-- cropbox图像裁剪插件 -->
<div th:fragment="cropbox-css">
    <link th:href="@{/ajax/libs/cropbox/cropbox.css}" rel="stylesheet"/>
</div>
<div th:fragment="cropbox-js">
    <script th:src="@{/ajax/libs/cropbox/cropbox.js}"></script>
</div>

<!-- jsonview格式化和语法高亮JSON格式数据查看插件 -->
<div th:fragment="jsonview-css">
    <link th:href="@{/ajax/libs/jsonview/jquery.jsonview.css}" rel="stylesheet"/>
</div>
<div th:fragment="jsonview-js">
    <script th:src="@{/ajax/libs/jsonview/jquery.jsonview.js}"></script>
</div>
<!--导入结果显示-->
<div th:fragment="import-result-view">
    <link th:href="@{/css/import-result.css}" rel="stylesheet"/>
    <script id="importResultTpl" type="text/html">
        <div id="importResult" class="import-result">
            <%if(data.verifySuccess){%>
            <h6 class="success"><i class="fa fa-check-circle"></i>导入成功</h6>
            <%}%>
            <%if(!data.verifySuccess){%>
            <h6 class="fail"><i class="fa fa-times-circle "></i>导入失败</h6>
            <%}%>
            <div class="success"><i class="fa fa-check"></i>成功个数:<%:=data.successCount%></div>
            <div class="repeat"><i class="fa fa-registered"></i>重复个数:<%:=data.repeatCount%></div>
            <div class="fail"><i class="fa fa-remove"></i>失败个数:<%:=data.failCount%></div>
            <%if(data.errorMsgList!=null && data.errorMsgList.length>0){%>
            <ul>
                <%for(var i =0;i
                <data.errorMsgList.length
                ;i++){%>
                <li><%:=data.errorMsgList[i]%></li>
                <%}%>
            </ul>
            <%}%>
        </div>
    </script>
    <script>
        var importTpl = document.getElementById('importResultTpl').innerHTML;
    </script>
</div>
<div th:fragment="import-form-view"  style="display: none;">
    <form id="importForm" enctype="multipart/form-data" class="mt20 mb10" style="display: none">
        <div class="col-xs-offset-1">
            <form>
                <input type="file" id="file" name="file"/>
                <div class="mt10 pt5">
                    <input type="checkbox" id="updateSupport" name="updateSupport" title="如果登录账户已经存在，更新这条数据。"> 是否更新已经存在的数据
                    &nbsp; <a onclick="$.table.importTemplate()" class="btn btn-default btn-xs"><i
                        class="fa fa-file-excel-o"></i> 下载模板</a>
                </div>
                <font color="red" class="pull-left mt10">
                    提示：仅允许导入“xls”或“xlsx”格式文件！
                </font>
            </form>
        </div>
    </form>
</div>
<div class="form-group" th:fragment="input-view-add(labelName, name)">
    <label class="col-sm-3 control-label">[[${labelName}]]：</label>
    <div class="col-sm-8">
        <input th:name="${name}" class="form-control" type="text">
    </div>
</div>
<!--字典类型的字段，查询、新增、修改代码块封装-->
<li th:fragment="dict-select(labelName, name, dictName)">
    <p>[[${labelName}]]：</p>
    <select th:name="${name}" th:with="dicts=${@dict.getType(dictName)}">
        <option value="" th:text="所有">所有</option>
        <option th:each="dict : ${dicts}" th:text="${dict.dictLabel}"
                th:value="${dict.dictValue}"></option>
    </select>
</li>
<div class="form-group" th:fragment="dict-view-add(labelName, name, dictName)">
    <label class="col-sm-3 control-label">[[${labelName}]]：</label>
    <div class="col-sm-8">
        <select class="form-control m-b" th:name="${name}" th:with="dicts=${@dict.getType(dictName)}">
            <option th:each="dict : ${dicts}" th:text="${dict.dictLabel}"
                    th:value="${dict.dictValue}"></option>
        </select>
    </div>
</div>
<div class="form-group" th:fragment="dict-view-edit(labelName, name, dictName, editValue)">
    <label class="col-sm-3 control-label">[[${labelName}]]：</label>
    <div class="col-sm-8">
        <select class="form-control m-b" th:name="${name}" th:with="dicts=${@dict.getType(dictName)}">
            <option th:each="dict : ${dicts}" th:text="${dict.dictLabel}"
                    th:value="${dict.dictValue}" th:selected="${editValue} == ${dict.dictValue}"></option>
        </select>
    </div>
</div>


