<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>升腾管理系统</title>
    <meta name="keywords" content="管理系统">
    <meta name="description" content="管理系统">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html"/>
    <![endif]-->
    <link rel="shortcut icon" href="../static/favicon.ico" th:href="@{favicon.ico}"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/jquery.contextMenu.min.css?v=4.1.0}" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/animate.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/skins.css}" rel="stylesheet"/>
    <link th:href="@{/app/css/app.css?v=4.1.0}" rel="stylesheet"/>
    <style type="text/css">
        #content-main.max {
            height: calc(100% - 110px);
            overflow: hidden;
            width: 100%;
            height: 100%;
            left: 0px;
            position: absolute;
            top: 0px;
            z-index: 9998;
            margin: 0;
        }

        .nav-top {
            height: 24px;
        }

    </style>
</head>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow: hidden"
      th:classappend="${@config.getKey('sys.index.skinName')}">
<div id="wrapper">

    <!--左侧导航开始-->
    <nav class="navbar-default navbar-static-side light-sidebar" role="navigation">
        <div class="nav-close">
            <i class="fa fa-times-circle"></i>
        </div>
        <div id="sidebar-cont" style="height: 100%">
            <div class="sidebar-collapse sidebar-shadow">
                <ul class="nav" id="side-menu">
                    <li>
                        <div class="logo">
                            <span class="logo-lg">升腾雨滴</span>
                        </div>
                    </li>
                    <li id="homeMenu" class="active">
                        <a class="menuItem" th:href="@{/system/main}"><i class="fa fa-home"></i> <span
                                class="nav-label">首页</span></a>
                    </li>
                    <li th:each="menu : ${menus}">
                        <a href="#">
                            <i class="fa fa fa-bar-chart-o" th:class="${menu.icon}"></i>
                            <span class="nav-label" th:text="${menu.menuName}">一级菜单</span>
                            <!--<span class="fa arrow"></span>-->
                        </a>
                        <ul class="nav nav-second-level collapse">
                            <li th:each="cmenu : ${menu.children}">
                                <a th:if="${#lists.isEmpty(cmenu.children)}" class="menuItem"
                                   th:utext="${cmenu.menuName}" th:href="@{${cmenu.url}}">二级菜单</a>
                                <a th:if="${not #lists.isEmpty(cmenu.children)}" href="#">[[${cmenu.menuName}]]
                                    <!--<span class="fa arrow"></span>-->
                                </a>
                                <ul th:if="${not #lists.isEmpty(cmenu.children)}" class="nav nav-third-level">
                                    <li th:each="emenu : ${cmenu.children}"><a class="menuItem"
                                                                               th:text="${emenu.menuName}"
                                                                               th:href="@{${emenu.url}}">三级菜单</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--左侧导航结束-->

    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2" style="color:#878d99;" href="#" title="收起菜单">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
                <ul class="nav navbar-top-links navbar-right welcome-message">
                    <li><a title="全屏显示" id="fullScreen"><i class="fa fa-arrows-alt"></i> 全屏显示</a></li>
                    <li class="dropdown user-menu">
                        <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                            <img th:src="(${user.avatar} == '') ? @{/img/profile.jpg} : @{/file/avatar/} + ${user.avatar}"
                                 class="user-image">
                            <span class="hidden-xs">[[${user.userName}]]</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="mt5">
                                <a th:href="@{/system/user/profile}" class="menuItem">
                                    <i class="fa fa-user"></i> 个人中心</a>
                            </li>
                            <li>
                                <a onclick="resetPwd()" class="menuItem">
                                    <i class="fa fa-key"></i> 修改密码</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a th:href="@{logout}">
                                    <i class="fa fa-sign-out"></i> 退出登录</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row content-tabs">
            <button class="roll-nav roll-left tabLeft">
                <i class="fa fa-backward"></i>
            </button>
            <nav class="page-tabs menuTabs">
                <div class="page-tabs-content">
                    <a href="javascript:;" class="active menuTab" data-id="/system/main">首页</a>
                </div>
            </nav>
            <button class="roll-nav roll-right tabRight">
                <i class="fa fa-forward"></i>
            </button>
            <a href="javascript:void(0);" class="roll-nav roll-right tabReload"><i class="fa fa-refresh"></i> 刷新</a>
        </div>

        <a id="ax_close_max" class="ax_close_max" href="#" title="关闭全屏"> <i class="fa fa-times-circle-o"></i> </a>

        <div class="row mainContent" id="content-main">
            <iframe class="app_iframe" name="iframe0" width="100%" height="100%" data-id="/system/main"
                    th:src="@{/system/main}" frameborder="0" seamless></iframe>
        </div>
        <div class="footer">
            <div class="pull-right">© [[${copyrightYear}]] centerm Copyright</div>
        </div>
    </div>
    <!--右侧部分结束-->
</div>
<!-- 全局js -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/js/jquery.contextMenu.min.js}"></script>
<script th:src="@{/ajax/libs/blockUI/jquery.blockUI.js}"></script>
<script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
<script th:src="@{/app/js/app.js?v=4.1.0}"></script>
<script th:src="@{/app/index.js}"></script>
<script th:src="@{/ajax/libs/fullscreen/jquery.fullscreen.js}"></script>
<script th:inline="javascript">
var ctx = [[@{/}]];
var skin = storage.get("skin");
// 本地主题优先，未设置取系统配置
if($.common.isNotEmpty(skin)){
	$("body").addClass(skin.split('|')[0]);
	$("body").addClass(skin.split('|')[1]);
} else {
	var sideTheme = [[${@config.getKey('sys.index.sideTheme')}]];
	var skinName = [[${@config.getKey('sys.index.skinName')}]];
	$("body").addClass(sideTheme);
	$("body").addClass(skinName);
}

/* 用户管理-重置密码 */
function resetPwd() {
    var url = ctx + 'system/user/profile/resetPwd';
    $.modal.open("重置密码", url, '770', '380');
}
/* 切换主题 */
function switchSkin() {
    layer.open({
		type : 2,
		shadeClose : true,
		title : "切换主题",
		area : ["530px", "386px"],
		content : [ctx + "system/switchSkin", 'no']
	})
}

// 排除非左侧菜单链接
var excludesUrl = ["/system/user/profile"];

$(function() {
    var hash = location.hash;
    if (hash !== '') {
        var url = hash.substring(1, hash.length);
        $('a[href$="' + url + '"]').click();
        if ($.inArray(url, excludesUrl)) {
            $('a[href$="' + url + '"]').parent("li").addClass("selected").parents("li").addClass("active").end().parents("ul").addClass("in");
        }
    }
});
</script>
</body>
</html>
