<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>升腾雨滴管理系统 - 登录</title>
    <meta name="keywords" content="管理系统">
    <meta name="description" content="jmiser">
    <link href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet"/>
    <link href="../static/css/login.css" th:href="@{css/login.css}" rel="stylesheet"/>
    <link href="../static/ajax/libs/iCheck/custom.css" th:href="@{/ajax/libs/iCheck/custom.css}" rel="stylesheet"/>
    <link href="../static/app/css/app.css" th:href="@{/app/css/app.css}" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html"/>
    <![endif]-->
    <link rel="shortcut icon" href="../static/favicon.ico" th:href="@{favicon.ico}"/>
    <style type="text/css">label.error { position:inherit;  }</style>
    <script>
        if(window.top!==window.self){window.top.location=window.location};
    </script>
</head>

<body class="signin">
<div class="signinpanel">
    <div class="row">
        <div class="signupMainCont">
            <div class="signupFormCont">
                <div>
                    <div class="signupTitle"></div>
                    <form id="signupForm">
                        <div class="form-control-cont">
                            <div class="uname">
                                <input type="text" name="username" class="form-control" placeholder="用户名"/>
                            </div>
                        </div>
                        <div class="form-control-cont">
                            <div class="pword">
                                <input type="password" name="password" class="form-control" placeholder="密码"/>
                            </div>
                        </div>
                        <div class="row" th:if="${captchaEnabled==true}">
                            <div class="code-inp col-xs-6">
                                <input type="text" name="validateCode" class="form-control code" placeholder="图片验证码" maxlength="5" autocomplete="off">
                            </div>
                            <div class="col-xs-6">
                                <a href="javascript:void(0);" title="点击更换验证码">
                                    <img th:src="@{captcha/captchaImage(type=${captchaType})}" class="imgcode" height="34"/>
                                </a>
                            </div>
                        </div>
                        <input class="i-checks" type="checkbox" name="rememberme"/>&nbsp;&nbsp;记住我
                        <button class="btn btn-success btn-block" id="btnSubmit" data-loading="正在验证登录，请稍后...">登录</button>
                        <div class="btn-bar">
                            <a class="forgetPwdBtn" href="#">忘记密码？</a>
                            <a class="regBtn" href="#">点击注册</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript"> var ctx = [[@{/}]]; var captchaType = [[${captchaType}]]; </script>
<!-- 全局js -->
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<!-- 验证插件 -->
<script src="../static/ajax/libs/validate/jquery.validate.min.js" th:src="@{/ajax/libs/validate/jquery.validate.min.js}"></script>
<script src="../static/ajax/libs/validate/messages_zh.min.js" th:src="@{/ajax/libs/validate/messages_zh.min.js}"></script>
<script src="../static/ajax/libs/layer/layer.min.js" th:src="@{/ajax/libs/layer/layer.min.js}"></script>
<script src="../static/ajax/libs/iCheck/icheck.min.js" th:src="@{/ajax/libs/iCheck/icheck.min.js}"></script>
<script src="../static/ajax/libs/blockUI/jquery.blockUI.js" th:src="@{/ajax/libs/blockUI/jquery.blockUI.js}"></script>
<script src="../static/js/md5.min.js" th:src="@{/js/md5.min.js}"></script>
<script src="../static/app/js/app.js" th:src="@{/app/js/app.js}"></script>
<script src="../static/app/login.js" th:src="@{/app/login.js}"></script>
</body>
</html>
