<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>平台介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
</head>

<body>
<div class="white-bg">
    <div class="page-cont">
        <!--<h2>Hello,Guest</h2>-->
       <!-- <small>移动设备访问请扫描以下二维码：</small>-->
        <!--<br>
        <br>-->
        <div class="page-cont-inner">
            <div class="page-img"></div>
            <div class="page-img-title"></div>
        </div>
        <br>
    </div>

</div>

<!--<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>-->
</body>
</html>
