<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head>
    <th:block th:include="include :: header" />
    <th:block th:include="include :: select2-css" />
</head>

<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form id="form-user-add" class="form-horizontal m">
        <input name="deptId" type="hidden" id="treeId"/>

        <div class="form-group">
            <label class="col-xs-2 control-label"><span style="color: red; ">*</span>用户名称：</label>
            <div class="col-xs-9">
                <input name="userName" autocomplete="off" placeholder="请输入用户名称" class="form-control" type="text"
                       maxlength="30" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label"><span style="color: red; ">*</span>归属部门：</label>
            <div class="col-xs-9">
                <div class="input-group">
                    <input name="deptName" onclick="selectDeptTree()" id="treeName" type="text"
                           placeholder="请选择归属部门" class="form-control" required>
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="col-xs-2 control-label"><span style="color: red; ">*</span>手机号码：</label>
            <div class="col-xs-9">
                <input name="phone" autocomplete="off" placeholder="请输入手机号码" class="form-control" type="text"
                       maxlength="11" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2 control-label"><span style="color: red; ">*</span>邮箱：</label>
            <div class="col-xs-9">
                <input name="email" autocomplete="off" class="form-control email" type="text" maxlength="50"
                       placeholder="请输入邮箱" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2 control-label"><span style="color: red; ">*</span>登录账号：</label>
            <div class="col-xs-9">
                <input name="loginName" placeholder="请输入登录账号" autocomplete="off" class="form-control required"
                       type="text" maxlength="30" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label"><span style="color: red; ">*</span>登录密码：</label>
            <div class="col-xs-9">
                <input name="password" id="password" placeholder="请输入登录密码" autocomplete="off"
                       class="form-control" type="password"
                       th:value="${@config.getKey('sys.user.initPassword')}" required>
            </div>
        </div>


        <div class="form-group">
            <label class="col-xs-2 control-label">用户性别：</label>
            <div class="col-xs-9">
                <div class="input-group" style="width: 100%">
                    <select name="sex" class="form-control m-b" th:with="type=${@dict.getType('sys_user_sex')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">用户状态：</label>
            <div class="col-xs-9">
                <div class="onoffswitch">
                    <input type="checkbox" th:checked="true" class="onoffswitch-checkbox" id="status">
                    <label class="onoffswitch-label" for="status">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2 control-label">岗位：</label>
            <div class="col-xs-4">
                <select id="post" class="form-control select2-hidden-accessible" multiple="">
                    <option th:each="post:${posts}" th:value="${post.postId}" th:text="${post.postName}"
                            th:disabled="${post.status == '1'}"></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2 control-label">角色：</label>
            <div class="col-xs-9">
                <label th:each="role:${roles}" class="check-box">
                    <input name="role" type="checkbox" th:value="${role.roleId}" th:text="${role.roleName}"
                           th:disabled="${role.status == '1'}">
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">备注：</label>
            <div class="col-xs-9">
                        <textarea name="remark" autocomplete="off" maxlength="500" class="form-control"
                                  rows="3"></textarea>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<th:block th:include="include :: select2-js" />
<script th:src="@{/js/md5.min.js}"></script>

<script>
    var prefix = ctx + "system/user";

    $("#form-user-add").validate({
        rules: {
            loginName: {
                minlength: 2,
                maxlength: 20,
                remote: {
                    url: prefix + "/checkLoginNameUnique",
                    type: "post",
                    dataType: "json",
                    data: {
                        name: function () {
                            return $.common.trim($("#loginName").val());
                        }
                    },
                    dataFilter: function (data, type) {
                        return $.validate.unique(data);
                    }
                }
            },
            password: {
                minlength: 5,
                maxlength: 20
            },
            email: {
                email: true,
                remote: {
                    url: prefix + "/checkEmailUnique",
                    type: "post",
                    dataType: "json",
                    data: {
                        name: function () {
                            return $.common.trim($("#email").val());
                        }
                    },
                    dataFilter: function (data, type) {
                        return $.validate.unique(data);
                    }
                }
            },
            phone: {
                isPhone: true,
                remote: {
                    url: prefix + "/checkPhoneUnique",
                    type: "post",
                    dataType: "json",
                    data: {
                        name: function () {
                            return $.common.trim($("#phone").val());
                        }
                    },
                    dataFilter: function (data, type) {
                        return $.validate.unique(data);
                    }
                }
            },
        },
        messages: {
            "loginName": {
                remote: "用户已经存在"
            },
            "email": {
                remote: "Email已经存在"
            },
            "phone": {
                remote: "手机号码已经存在"
            }
        },
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            var data = $("#form-user-add").awesomeFormSerializerArray({
                "password": md5($("#password").val())
            });
            var status = $("input[id='status']").is(':checked') == true ? 0 : 1;
            var roleIds = $.form.selectCheckeds("role");
            var postIds = $.form.selectSelects("post");
            data.push({"name": "status", "value": status});
            data.push({"name": "roleIds", "value": roleIds});
            data.push({"name": "postIds", "value": postIds});
            log.log(data)
            $.operate.save(prefix + "/add", data);
        }
    }

    /*用户管理-新增-选择部门树*/
    function selectDeptTree() {
        var treeId = $("#treeId").val();
        var deptId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
        var url = ctx + "system/dept/selectDeptTree/" + deptId;
        var options = {
            title: '选择部门',
            width: "380",
            url: ctx + "system/dept/selectDeptTree/" + deptId,
            callBack: doSubmit
        };
        $.modal.openOptions(options);
    }

    function doSubmit(index, layero) {
        var tree = layero.find("iframe")[0].contentWindow.$._tree;
        if ($.tree.notAllowParents(tree)) {
            var body = layer.getChildFrame('body', index);
            $("#treeId").val(body.find('#treeId').val());
            $("#treeName").val(body.find('#treeName').val());
            layer.close(index);
        }
    }
</script>
</body>
</html>
