<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head>
    <th:block th:include="include :: header"/>
    <th:block th:include="include :: select2-css"/>
</head>
<body>
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal" id="form-user-edit" th:object="${user}">
        <input name="userId" type="hidden" th:field="*{userId}"/>
        <input name="deptId" type="hidden" th:field="*{deptId}" id="treeId"/>

        <div class="form-group">
            <label class="col-xs-2 control-label"><span style="color: red; ">*</span>用户名称：</label>
            <div class="col-xs-10">
                <input name="userName" autocomplete="off" placeholder="请输入用户名称" class="form-control" type="text"
                       maxlength="30" th:field="*{userName}" required>
            </div>
        </div>


            <div class="form-group">
                <label class="col-xs-2 control-label"><span style="color: red; ">*</span>归属部门：</label>
                <div class="col-xs-10">
                    <div class="input-group">
                        <input class="form-control" type="text" name="deptName" onclick="selectDeptTree()"
                               id="treeName" th:field="*{dept.deptName}" required>
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>


        <div class="form-group">
            <label class="col-xs-2 control-label"><span style="color: red; ">*</span>手机号码：</label>
            <div class="col-xs-10">
                <input name="phone" autocomplete="off" placeholder="请输入手机号码" class="form-control" type="text"
                       maxlength="11" th:field="*{phone}" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2 control-label"><span style="color: red; ">*</span>邮箱：</label>
            <div class="col-xs-10">
                <input name="email" autocomplete="off" class="form-control email" type="text" maxlength="50"
                       placeholder="请输入邮箱" th:field="*{email}" required>
            </div>
        </div>


        <div class="form-group">
            <label class="col-xs-2 control-label"><span style="color: red; ">*</span>登录账号：</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" readonly="true" th:field="*{loginName}"/>
            </div>
        </div>


        <div class="form-group">
            <label class="col-xs-2 control-label">用户状态：</label>
            <div class="col-xs-10">
                <div class="onoffswitch">
                    <input type="checkbox" th:checked="${user.status == '0' ? true : false}"
                           class="onoffswitch-checkbox" id="status">
                    <label class="onoffswitch-label" for="status">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="col-xs-2 control-label">岗位：</label>
            <div class="col-xs-10">
                <select id="post" class="form-control select2-hidden-accessible" multiple="">
                    <option th:each="post:${posts}" th:value="${post.postId}" th:text="${post.postName}"
                            th:selected="${post.flag}" th:disabled="${post.status == '1'}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">用户性别：</label>
            <div class="col-xs-10">
                <div class="input-group" style="width: 100%">
                    <select name="sex" class="form-control m-b" th:with="type=${@dict.getType('sys_user_sex')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                th:value="${dict.dictValue}" th:field="*{sex}"></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2 control-label">角色：</label>
            <div class="col-xs-10">
                <label th:each="role:${roles}" class="check-box">
                    <input name="role" type="checkbox" th:value="${role.roleId}" th:text="${role.roleName}"
                           th:checked="${role.flag}" th:disabled="${role.status == '1'}">
                </label>
            </div>
        </div>


        <div class="form-group">
            <label class="col-xs-2 control-label">备注：</label>
            <div class="col-xs-10">
                <textarea name="remark" autocomplete="off" maxlength="500" class="form-control"
                          rows="3">[[*{remark}]]</textarea>
            </div>
        </div>

    </form>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs/select/select2.js}"></script>
<script>
    var prefix = ctx + "system/user";

    $("#form-user-edit").validate({
        rules: {
            email: {
                email: true,
                remote: {
                    url: prefix + "/checkEmailUnique",
                    type: "post",
                    dataType: "json",
                    data: {
                        "userId": function () {
                            return $("#userId").val();
                        },
                        "email": function () {
                            return $.common.trim($("#email").val());
                        }
                    },
                    dataFilter: function (data, type) {
                        return $.validate.unique(data);
                    }
                }
            },
            phone: {
                isPhone: true,
                remote: {
                    url: prefix + "/checkPhoneUnique",
                    type: "post",
                    dataType: "json",
                    data: {
                        "userId": function () {
                            return $("#userId").val();
                        },
                        "phone": function () {
                            return $.common.trim($("#phone").val());
                        }
                    },
                    dataFilter: function (data, type) {
                        return $.validate.unique(data);
                    }
                }
            },
        },
        messages: {
            "email": {
                remote: "Email已经存在"
            },
            "phone": {
                remote: "手机号码已经存在"
            }
        },
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            var data = $("#form-user-edit").serializeArray();
            var status = $("input[id='status']").is(':checked') == true ? 0 : 1;
            var roleIds = $.form.selectCheckeds("role");
            var postIds = $.form.selectSelects("post");
            data.push({"name": "status", "value": status});
            data.push({"name": "roleIds", "value": roleIds});
            data.push({"name": "postIds", "value": postIds});
            $.operate.save(prefix + "/edit", data);
        }
    }

    /*用户管理-修改-选择部门树*/
    function selectDeptTree() {
        var deptId = $.common.isEmpty($("#treeId").val()) ? "100" : $("#treeId").val();
        var url = ctx + "system/dept/selectDeptTree/" + deptId;
        var options = {
            title: '选择部门',
            width: "380",
            url: url,
            callBack: doSubmit
        };
        $.modal.openOptions(options);
    }

    function doSubmit(index, layero) {
        var tree = layero.find("iframe")[0].contentWindow.$._tree;
        if ($.tree.notAllowParents(tree)) {
            var body = layer.getChildFrame('body', index);
            $("#treeId").val(body.find('#treeId').val());
            $("#treeName").val(body.find('#treeName').val());
            layer.close(index);
        }
    }
</script>
</body>
</html>