<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-config-add" name="form-config-add">
        <div class="form-group">
            <label class="col-sm-3 control-label">参数名称：</label>
            <div class="col-sm-8">
                <input id="configName" name="configName" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">参数键名：</label>
            <div class="col-sm-8">
                <input id="configKey" name="configKey" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">参数值类型：</label>
            <div class="col-sm-8">
                <label class="radio-box"> <input type="radio" name="valueType" value="0" checked/> 文本 </label>
                <label class="radio-box"> <input type="radio" name="valueType" value="1"/> 密码 </label>
                <label class="radio-box"> <input type="radio" name="valueType" value="2"/> 单选 </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">参数键值：</label>
            <div class="col-sm-8" id="configValue">
                <input name="configValue" class="form-control" type="text" required/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-8">
                <textarea id="remark" name="remark" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">系统内置：</label>
            <div class="col-sm-8">
                <div class="radio-box" th:each="dict : ${@dict.getType('sys_yes_no')}">
                    <input type="radio" th:id="${dict.dictCode}" name="configType" th:value="${dict.dictValue}"
                           th:checked="${(dict.isDefault == '1') ? true : false}">
                    <label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
                </div>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var prefix = ctx + "system/config";
    $(function () {
        var el;
        $('input[type=radio][name=valueType]').on("ifChecked", function () {
            switch (this.value) {
                case "0":
                    el = '<input name="configValue" class="form-control" type="text" required/><p>';
                    break;
                case "1":
                    el = '<input name="configValue" class="form-control" type="password" required/>';
                    break;
                case "2":
                    el = '<input name="configValue" id="firstConfigValue" class="form-control" type="text" required/><p><a class="edit-link" onclick="valueAppend(this)"> <i class="fa fa-plus"></i>添加</a></p>';
                    break;
            }
            $("#configValue").html(el);
        });
        $("#form-config-add").validate({
            rules: {
                configKey: {
                    remote: {
                        url: prefix + "/checkConfigKeyUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "configKey": function () {
                                return $.common.trim($("#configKey").val());
                            }
                        },
                        dataFilter: function (data, type) {
                            return $.validate.unique(data);
                        }
                    }
                },
            },
            messages: {
                "configKey": {
                    remote: "参数键名已经存在"
                }
            },
            focusCleanup: true
        });

    });

    function valueAppend(a) {
        var configValueEl = '<input name="configValue" class="form-control" type="text" required/><p><a class="edit-link" onclick="valueAppend(this)"> <i class="fa fa-plus"></i>添加</a> |' +
            '  <a class="remove-link" onclick="valueRemove(this)"><i class="fa fa-remove"></i>移除</a></p> ';
        $(a).parent().after(configValueEl);
    }

    function valueRemove(a) {
        var parentEl = $(a).parent();
        parentEl.prev().remove();
        parentEl.remove();
    }

    function submitHandler() {
        //单选特殊处理
        var formData = $('#form-config-add').serializeArray();
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", formData);
        }
    }
</script>
</body>
</html>
