<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="config-form">
                <div class="select-list">
                    <ul>
                        <li>
                            参数名称：<input type="text" name="configName"/>
                        </li>
                        <li>
                            参数键名：<input type="text" name="configKey"/>
                        </li>
                        <li>
                            系统内置：<select name="configType" th:with="type=${@dict.getType('sys_yes_no')}">
                            <option value="">所有</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                    th:value="${dict.dictValue}"></option>
                        </select>
                        </li>
                        <li class="select-time">
                            <label>创建时间： </label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="params[beginTime]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                   name="params[endTime]"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:config:add">
                <i class="fa fa-plus"></i> 新增
            </a>
            <a class="btn btn-danger btn-del disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="system:config:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:config:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:config:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:config:remove')}]];
    var datas = [[${@dict.getType('sys_yes_no')}]];
    var prefix = ctx + "system/config";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            sortName: "configKey asc,createTime",
            sortOrder: "desc",
            modalName: "参数",
            search: false,
            showExport: false,
            columns: [{
                checkbox: true
            },
                {
                    title: '操作',
                    align: 'center',
                    width: 150,
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.configId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.configId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                },
                {
                    field: 'configId',
                    title: '参数主键',
                    visible: false
                },
                {
                    field: 'configName',
                    title: '参数名称'
                },
                {
                    field: 'configKey',
                    title: '参数键名',
                    sortable: true
                },
                {
                    field: 'configValue',
                    title: '参数键值',
                    formatter: function (value, row, index) {
                        var tipValue = $.table.tooltip(value, 20);
                        //密码
                        if (row.valueType === 1) {
                            return '<span style="display: none;">'+value+'</span><span >******</span> <a onclick="showPwd(this)"><i class="fa fa-eye"/></a>';
                        }
                        return tipValue;
                    }
                },
                {
                    field: 'configType',
                    title: '系统内置',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }
                },
                {
                    field: 'remark',
                    title: '备注',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return $.table.tooltip(value);
                    }
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    sortable: true
                }, {
                    field: 'updateTime',
                    title: '修改时间',
                    sortable: true
                }]
        };
        $.table.init(options);
    });

    function showPwd(a) {
        $(a).children().toggleClass("fa-eye-slash").toggleClass("fa-eye");
        var prefSpan = $(a).prev();
        prefSpan.toggle();
        prefSpan.prev().toggle();
    }
</script>
</body>
</html>