<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<style>
    .radio-config .iradio-blue {
        margin-top: 8px;
    }

    .radio-config .radio-box:first-child {
        margin-left: 0;
    }
</style>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-config-edit" th:object="${config}">
        <input id="configId" name="configId" th:field="*{configId}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">参数名称：</label>
            <div class="col-sm-8">
                <input id="configName" name="configName" th:field="*{configName}" class="form-control" type="text"
                       required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">参数键名：</label>
            <div class="col-sm-8">
                <input id="configKey" name="configKey" th:field="*{configKey}" class="form-control" type="text"
                       required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">参数值类型：</label>
            <div class="col-sm-8">
                <label class="radio-box"> <input type="radio" name="valueType" value="0" th:field="*{valueType}"/> 文本
                </label>
                <label class="radio-box"> <input type="radio" name="valueType" value="1" th:field="*{valueType}"/> 密码
                </label>
                <label class="radio-box"> <input type="radio" name="valueType" value="2" th:field="*{valueType}"/> 单选
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">参数键值：</label>
            <div id="configValue">
                <div class="col-sm-8" th:if="${config.valueType ==null ||config.valueType==0}">
                    <input name="configValue" th:field="*{configValue}" class="form-control" type="text"
                           required>
                </div>
                <div class="col-sm-8" th:if="${config.valueType==1}">
                    <input name="configValue" th:value="*{configValue}" class="form-control" type="password"
                           required>
                </div>
                <div class="radio-config" th:if="${config.valueType==2}">
                    <label class="radio-box col-sm-8 col-sm-offset-3" th:each="valueItem:${configList}">
                        <input type="radio" th:value="${valueItem.configValue}" name="valueRadio"
                               th:checked="${valueItem.configValue == config.configValue}"/>
                        <input th:value="${valueItem.configValue}" name="valueList" class="form-control" type="text"
                               required>
                        <a class="edit-link" onclick="valueAppend(this)"> <i class="fa fa-plus"></i>添加</a>
                        <a class="remove-link" onclick="valueRemove(this)"><i class="fa fa-remove"></i>移除</a>
                    </label>

                </div>


            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">系统内置：</label>
            <div class="col-sm-8">
                <div class="radio-box" th:each="dict : ${@dict.getType('sys_yes_no')}">
                    <input type="radio" th:id="${dict.dictCode}" name="configType" th:value="${dict.dictValue}"
                           th:field="*{configType}">
                    <label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-8">
                <textarea id="remark" name="remark" class="form-control">[[*{remark}]]</textarea>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var prefix = ctx + "system/config";
    var configValue = '[[${config.configValue}]]';
    $(function () {
        $('input[type=radio][name=valueType]').on("ifChecked", function () {
            var el;
            var configHtml = $("#configValue");
            switch (this.value) {
                case "0":
                    el = '<div class="col-sm-8"><input name="configValue" class="form-control" type="text" required/></div>';
                    configHtml.html(el);
                    $("input[name=configValue]").val(configValue);
                    break;
                case "1":
                    el = '<div class="col-sm-8"><input name="configValue" class="form-control" type="password" required/></div>';
                    configHtml.html(el);
                    $("input[name=configValue]").val(configValue);
                    break;
                case "2":
                    el = '        <div class="radio-config">\n' +
                        '                    <label class="radio-box col-sm-8 col-sm-offset-3">\n' +
                        '                        <input type="radio" checked  name="valueRadio"/>\n' +
                        '                        <input name="valueList" class="form-control" type="text"\n' +
                        '                               required>\n' +
                        '                        <a class="edit-link" onclick="valueAppend(this)"> <i class="fa fa-plus"></i>添加</a>\n' +
                        '                        <a class="remove-link" onclick="valueRemove(this)"><i class="fa fa-remove"></i>移除</a>\n' +
                        '                    </label>\n' +
                        '                </div>';
                    configHtml.html(el);
                    $("input[name=valueList]").val(configValue);
                    $(".radio-config .radio-box").iCheck({
                        checkboxClass: 'icheckbox-blue',
                        radioClass: 'iradio-blue'
                    });
                    break;
            }

        });
        $("#form-config-edit").validate({
            rules: {
                configKey: {
                    remote: {
                        url: prefix + "/checkConfigKeyUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "configId": function () {
                                return $("#configId").val();
                            },
                            "configKey": function () {
                                return $.common.trim($("#configKey").val());
                            }
                        },
                        dataFilter: function (data, type) {
                            return $.validate.unique(data);
                        }
                    }
                },
            },
            messages: {
                "configKey": {
                    remote: "参数键名已经存在"
                }
            },
            focusCleanup: true
        });
    });

    function valueAppend(a) {
        var el = '                    <label class="radio-box col-sm-8 col-sm-offset-3">\n' +
            '                        <input type="radio"   name="valueRadio"/>\n' +
            '                        <input name="valueList" class="form-control" type="text"\n' +
            '                               required>\n' +
            '                        <a class="edit-link" onclick="valueAppend(this)"> <i class="fa fa-plus"></i>添加</a>\n' +
            '                        <a class="remove-link" onclick="valueRemove(this)"><i class="fa fa-remove"></i>移除</a>\n' +
            '                    </label>';
        $(a).parent().after(el);
        $(".radio-config .radio-box").iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue'
        });
    }

    function valueRemove(a) {
        if ($(".radio-config").children().length > 1) {
            $(a).parent().remove();
        } else {
            $.modal.msgWarning("参数值不能为空！");
        }
    }

    function submitHandler() {
        if ($.validate.form()) {
            var data;
            if ($("input[name=valueType]:checked").val() === '2') {
                data = $('#form-config-edit').awesomeFormSerializerArray({
                    configValue: $(".radio-config input[type=radio]:checked").val()
                })
            } else {
                data = $('#form-config-edit').serializeArray();
            }
            $.operate.save(prefix + "/edit", data);
        }
    }
</script>
</body>
</html>
