<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 错误- 404</title>
    <link th:href="@{/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{/css/animate.css" rel="stylesheet"/>
    <link th:href="@{/css/style.css" rel="stylesheet
</head>
<body class="gray-bg">
    <div class="middle-box text-center animated fadeInDown">
        <h1>404</h1>
        <h3 class="font-bold">找不到网页！</h3>
        <div class="error-desc">
                                对不起，您正在寻找的页面不存在。尝试检查URL的错误，然后按浏览器上的刷新按钮或尝试在我们的应用程序中找到其他内容。
            <a th:href="@{/system/main}" class="btn btn-primary m-t">主页</a>
        </div>
    </div>
</body>
</html>
