<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>错误 - 403</title>
    <link th:href="@{/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{/css/animate.css" rel="stylesheet"/>
    <link th:href="@{/css/style.css" rel="stylesheet
</head>
<body class="gray-bg">
    <div class="middle-box text-center animated fadeInDown">
        <h3 class="font-bold">操作异常！</h3>

        <div class="error-desc">
            [[${errorMessage}]]
        </div>
    </div>
</body>
</html>
