.import-result{
    padding: 0 20px;
    line-height: 16px;
    text-align: justify;
    margin-top: 10px;
    overflow: hidden;
    width: 100%;
    font-weight:normal;

}
.import-result div{
    font-size: 14px;
    letter-spacing: 4px;
    padding-left:2em;
    animation: fadeInRight ease .6s forwards;
    animation-delay: .4s;
    opacity: 0;
}

.import-result .fail i{
    color:red;
}
.import-result h6{
    font-size: 16px;
    font-weight:bold;
    animation: fadeInRight ease .6s forwards;
    opacity: 0;

}
.import-result .success i{
    font-weight:bold;
    color: green;
}
.import-result .repeat i{
    color: orange;
}
.import-result li{
    font-size: 12px;
    margin-left: 2em;
    list-style: inside decimal;
    color: rgba(0,0,0,.65);
    border-bottom: 1px dotted #ccc;
    margin-bottom: 10px;
    padding-bottom: 4px;
}
.import-result ul{
    margin-top: 10px;
    animation: fadeInRight ease .6s forwards;
    animation-delay: 1s;
    opacity: 0;
}
.import-result i{
    margin-right: 10px;
    width: 12px;
}
.import-result div+div{
    margin-top: 6px;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}