.page-cont{
    padding-top: calc(50vh - 166px);
}
.page-cont-inner {

}
.page-img {
    height: 241px;
    background: url("../img/welcome.png") no-repeat center;
    background-size: contain;
}
.page-img-title {
    height: 60px;
    background: url("../img/welcome_title.png") no-repeat center;
    background-size: contain;
    margin-top: 30px;
}
@media ( max-height : 375px) {
    .page-cont{
        padding: 20px 0;
    }
}